{{> html-header }}
{{> header }}

<main class="content">
	<div class="container">
		<h1>It works!</h1>
		<h2>Example of gallery</h2>
		<div class="row mb-4 gallery js-gallery">
			<div class="col-6 col-lg-4 gallery__item">
				<a href="http://satyr.io/1920x1080/1">
					<img data-src="http://satyr.io/580x340/1" src="http://satyr.io/580x340/1" class="img-fluid d-block mx-auto js-lazyload" alt="" />
					<noscript>
						<img src="http://satyr.io/580x340/1" class="img-fluid d-block mx-auto" alt="" />
					</noscript>
				</a>
			</div>
			<div class="col-6 col-lg-4 gallery__item">
				<a href="http://satyr.io/1920x1080/2">
					<img data-src="http://satyr.io/580x340/2" src="http://satyr.io/580x340/2" class="img-fluid d-block mx-auto js-lazyload" alt="" />
					<noscript>
						<img src="http://satyr.io/580x340/2" class="img-fluid d-block mx-auto" alt="" />
					</noscript>
				</a>
			</div>
			<div class="col-6 col-lg-4 gallery__item">
				<a href="http://satyr.io/1920x1080/3">
					<img data-src="http://satyr.io/580x340/3" src="http://satyr.io/580x340/3" class="img-fluid d-block mx-auto js-lazyload" alt="" />
					<noscript>
						<img src="http://satyr.io/580x340/3" class="img-fluid d-block mx-auto" alt="" />
					</noscript>
				</a>
			</div>
		</div>
	</div>
</main>

{{> footer }}