{{> html-header }}
{{> header }}

{{#> layout}}
  <div class="container">
    <h1>It works!</h1>
    <h2>Example of gallery</h2>
    <div class="row mb-4 gallery js-gallery">
      {{#parse json='[
        {
          "thumbnailUrl": "https://satyr.io/580x340/1",
          "originalUrl": "https://satyr.io/1920x1080/1"
        },
        {
          "thumbnailUrl": "https://satyr.io/580x340/2",
          "originalUrl": "https://satyr.io/1920x1080/2"
        },
        {
          "thumbnailUrl": "https://satyr.io/580x340/3",
          "originalUrl": "https://satyr.io/1920x1080/3"
        }
      ]'}}
        {{#each this}}
          {{> gallery-item image=this }}
        {{/each}}
      {{/parse}}
    </div>
    <p>Dolor do tempor incididunt velit eiusmod do. Deserunt velit dolore labore id nulla nisi occaecat amet duis. Commodo consectetur tempor eiusmod minim esse consectetur ullamco anim consectetur elit cupidatat sunt incididunt. Ut aliqua exercitation officia mollit deserunt labore cillum sint occaecat sint. Non magna est occaecat cillum officia laborum ex Lorem qui minim nostrud cillum aute. Esse ea do exercitation in sint ipsum sit officia irure aliquip.</p>
    <p>Dolor do tempor incididunt velit eiusmod do. Deserunt velit dolore labore id nulla nisi occaecat amet duis. Commodo
      consectetur tempor eiusmod minim esse consectetur ullamco anim consectetur elit cupidatat sunt incididunt. Ut aliqua
      exercitation officia mollit deserunt labore cillum sint occaecat sint. Non magna est occaecat cillum officia laborum
      ex Lorem qui minim nostrud cillum aute. Esse ea do exercitation in sint ipsum sit officia irure aliquip.</p>
    <p>Dolor do tempor incididunt velit eiusmod do. Deserunt velit dolore labore id nulla nisi occaecat amet duis. Commodo consectetur tempor eiusmod minim esse consectetur ullamco anim consectetur elit cupidatat sunt incididunt. Ut aliqua exercitation officia mollit deserunt labore cillum sint occaecat sint. Non magna est occaecat cillum officia laborum ex Lorem qui minim nostrud cillum aute. Esse ea do exercitation in sint ipsum sit officia irure aliquip.</p>
  </div>
{{/ layout}}

{{> footer }}