.hamburger {
  display: block;
  line-height: 0;
  background: #fff;
  overflow: hidden;

  @include media-breakpoint-up($navbar-desktop-breakpoint) {
    display: none;
  }

  &-inner {
    &,
    &::before,
    &::after {
      @media (prefers-reduced-motion: reduce) {
        transition: none !important;
      }
    }
  }

  &--close {
    margin-top: 10px;
    margin-right: 10px;
  }
}
