<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev" aria-label="Previous" role="button">
    {{> svg icon="arrow-left" width="15" height="30" }}
  </a>
  <a class="next" aria-label="Next" role="button">
    {{> svg icon="arrow-right" width="15" height="30" }}
  </a>
  <a class="close" aria-label="Close" role="button">
    {{> svg icon="close" width="30" height="30" }}
  </a>
</div>