		<footer class="footer">
			<div class="container">
				<div class="copyright">&copy; 2019 Všechna práva vyhrazena. Vytvořil <a href="https://radeksukup.com" target="_blank" rel="noopener">Radek Sukup</a>.</div>
			</div>
		</footer>

		<script src="js/main.js" async></script>
	</body>
</html>