<div class="col-6 col-lg-4 gallery__item">
	<a href="{{ image.originalUrl }}">
		<img data-src="{{ image.thumbnailUrl }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" class="img-fluid d-block mx-auto js-lazyload" alt="" />
		<noscript>
			<img src="{{ image.thumbnailUrl }}" class="img-fluid d-block mx-auto" alt="" />
		</noscript>
	</a>
</div>