<!doctype html>
<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="TODO" />
    <meta name="keywords" content="todo, todo" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main{{#if isProduction}}.min{{/if}}.css?v={{appVersion}}" />
  </head>

  <body data-sprite="/images/sprite.svg?v={{appVersion}}">