.js-hover {
  cursor: pointer;

  a {
    text-decoration: underline;
  }
}

.v-center,
.v-center-large {
  display: inline-flex;
  align-items: center;
}
.v-center {
  > *:not(:last-child) {
    margin-right: map-get($spacers, 2);
  }
}
.v-center-large {
  > *:not(:last-child) {
    margin-right: map-get($spacers, 3);
  }
}

html {
  @each $gray-level, $value in $grays {
    .text-gray-#{$gray-level} {
      color: $value;
    }
  }
}
