@mixin font-face($name, $file, $weight, $style, $path: $custom-font-path) {
  @font-face {
    font-family: '#{$name}';
    src: url('#{$path}#{$file}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

// Set transition for a single or multiple CSS properties.
// @param {String} $properties - one or multiple properties separated by a comma
// @param {Number} $duration [$transition-duration-base] - transition duration
// @param {Any} $timing-function [$transition-timing-function] - transition timing function
// @example @include transition(color);
// @example @include transition('color, border');
@mixin transition(
  $properties,
  $duration: $transition-duration-base,
  $timing-function: $transition-timing-function
) {
  transition-duration: $duration;
  transition-property: unquote($properties);
  transition-timing-function: $timing-function;
}

@mixin size($value) {
  width: $value;
  height: $value;
}
