%loader {
  $size: 3em;

  content: '';
  display: block;
  position: absolute;
  top: calc(50% - #{$size / 2});
  left: calc(50% - #{$size / 2});
  border: 3px solid $white;
  border-top-color: $primary;
  border-radius: 50%;
  width: $size;
  height: $size;
  animation: spin 1s linear infinite;
}
