::selection {
  color: $selection-color;
  background: $selection-bg-color;
  text-shadow: none;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-brand, sans-serif;

  @include media-breakpoint-down($navbar-mobile-breakpoint) {
    &.navbar-visible {
      overflow: hidden;
    }
  }
}

a {
  @include transition(color);
}

iframe,
video {
  max-width: 100%;
}

iframe {
  width: 100%;
  border: 0;
}

svg {
  fill: currentColor;
  @include transition(fill);
}

ul,
ol {
  line-height: 1.8;

  li::marker {
    font-weight: $font-weight-bold;
    color: $primary;
  }
}
