label {
  font-weight: normal;
}

textarea {
  resize: vertical;
  min-height: $textarea-min-height !important;
}

select,
option {
  cursor: pointer;
}

.form-control {
  &[readonly] {
    cursor: text;
  }
}
